<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.core.IJavaElement"
            class="com.mountainminds.eclemma.internal.core.analysis.JavaElementCoverageAdapterFactory">
         <adapter type="org.jacoco.core.analysis.ICoverageNode"/>
         <adapter type="org.jacoco.core.analysis.ISourceNode"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="com.mountainminds.eclemma.internal.core.analysis.JavaElementCoverageAdapterFactory">
         <adapter type="org.jacoco.core.analysis.ICoverageNode"/>
         <adapter type="org.jacoco.core.analysis.ISourceNode"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="%coverage"
            mode="coverage"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.JavaApplicationLauncher"
            id="com.mountainminds.eclemma.core.javaApplicationLauncher"
            modes="coverage"
            name="%javaDelegateName"
            type="org.eclipse.jdt.launching.localJavaApplication"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.JavaApplicationLauncher"
            id="com.mountainminds.eclemma.core.junitLauncher"
            modes="coverage"
            name="%junitDelegateName"
            type="org.eclipse.jdt.junit.launchconfig"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.workbenchLauncher"
            modes="coverage"
            name="%eclipseApplicationDelegateName"
            type="org.eclipse.pde.ui.RuntimeWorkbench"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.junitPluginLauncher"
            modes="coverage"
            name="%junitPluginDelegateName"
            type="org.eclipse.pde.ui.JunitLaunchConfig"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.equinoxLauncher"
            modes="coverage"
            name="%osgiDelegateName"
            type="org.eclipse.pde.ui.EquinoxLauncher"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.JavaApplicationLauncher"
            id="com.mountainminds.eclemma.core.testNGLauncher"
            modes="coverage"
            name="%testNgDelegateName"
            type="org.testng.eclipse.launchconfig"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.RAPJUnitLauncher"
            modes="coverage"
            name="%junitRAPDelegateName"
            type="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.SWTBotJUnitLauncher"
            modes="coverage"
            name="%swtBotJunitDelegateName"
            type="org.eclipse.swtbot.eclipse.ui.launcher.JunitLaunchConfig"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.JavaApplicationLauncher"
            id="com.mountainminds.eclemma.core.scalaApplicationLauncher"
            modes="coverage"
            name="%scalaDelegateName"
            type="scala.application">
      </launchDelegate>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="exec"
            id="com.mountainminds.eclemma.core.executiondata"
            name="%execFileContentType"
            priority="normal">
         <describer
               class="org.eclipse.core.runtime.content.BinarySignatureDescriber">
            <parameter
                  name="signature"
                  value="01, C0, C0">
            </parameter>
            <parameter
                  name="offset"
                  value="0">
            </parameter>
         </describer>
      </content-type>
   </extension>
</plugin>
