<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.core.IJavaElement"
            class="com.mountainminds.eclemma.internal.core.analysis.JavaElementCoverageAdapterFactory">
         <adapter type="com.mountainminds.eclemma.core.analysis.IJavaElementCoverage"/>
         <adapter type="com.mountainminds.eclemma.core.analysis.ILineCoverage"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IResource"
            class="com.mountainminds.eclemma.internal.core.analysis.JavaElementCoverageAdapterFactory">
         <adapter type="com.mountainminds.eclemma.core.analysis.IJavaElementCoverage"/>
         <adapter type="com.mountainminds.eclemma.core.analysis.ILineCoverage"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="%coverage"
            mode="coverage"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.JavaApplicationLauncher"
            id="com.mountainminds.eclemma.core.javaApplicationLauncher"
            modes="coverage"
            name="%javaDelegateName"
            type="org.eclipse.jdt.launching.localJavaApplication"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.JavaApplicationLauncher"
            id="com.mountainminds.eclemma.core.junitLauncher"
            modes="coverage"
            name="%junitDelegateName"
            type="org.eclipse.jdt.junit.launchconfig"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.workbenchLauncher"
            modes="coverage"
            name="%eclipseApplicationDelegateName"
            type="org.eclipse.pde.ui.RuntimeWorkbench"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.junitPluginLauncher"
            modes="coverage"
            name="%junitPluginDelegateName"
            type="org.eclipse.pde.ui.JunitLaunchConfig"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.core.equinoxLauncher"
            modes="coverage"
            name="%osgiDelegateName"
            type="org.eclipse.pde.ui.EquinoxLauncher"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.JavaApplicationLauncher"
            id="com.mountainminds.eclemma.core.testNGLauncher"
            modes="coverage"
            name="%testNgDelegateName"
            type="org.testng.eclipse.launchconfig"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.ui.RAPJUnitLauncher"
            modes="coverage"
            name="%junitRAPDelegateName"
            type="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher"/>
      <launchDelegate
            delegate="com.mountainminds.eclemma.core.launching.EclipseLauncher"
            id="com.mountainminds.eclemma.ui.SWTBotJUnitLauncher"
            modes="coverage"
            name="%swtBotJunitDelegateName"
            type="org.eclipse.swtbot.eclipse.ui.launcher.JunitLaunchConfig"/>
   </extension>
   <extension
         point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider
            class="com.mountainminds.eclemma.internal.core.launching.InstrumentedClasspathProvider"
            id="com.mountainminds.eclemma.core.instrumentedClasspathProvider"/>
   </extension>

</plugin>
