<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mountainminds.eclemma.core.ICoverageSession"
            class="com.mountainminds.eclemma.internal.ui.WorkbenchAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="$nl$/icons/full/wizban/run_coverage.gif"
            id="com.mountainminds.eclemma.ui.launchGroup.coverage"
            image="$nl$/icons/full/elcl16/runcoverage.gif"
            label="%CoverageLaunchGroup.label"
            mode="coverage"
            title="%CoverageLaunchGroup.title"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%JavaApplicationShortcut.label"
            icon="$nl$/icons/full/etool16/java_launch.gif"
            modes="coverage"
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.debug.ui.localJavaShortcut"
            id="com.mountainminds.eclemma.ui.localJavaShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.class"/>
                   <adapt type="org.eclipse.jdt.core.IJavaElement"/>
                   <instanceof value="org.eclipse.jdt.internal.ui.javaeditor.InternalClassFileEditorInput"/>
                 </or>
                 <test property="org.eclipse.jdt.debug.ui.hasMainType"/>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
      </shortcut>
      <shortcut
            label="%JUnitTestShortcut.label"
            icon="$nl$/icons/full/etool16/junit_launch.gif"
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.junit.junitShortcut"
            modes="coverage"
            id="com.mountainminds.eclemma.ui.junitShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.class"/>
                   <adapt type="org.eclipse.jdt.core.IJavaElement"/>
                 </or>
                 <test property="org.eclipse.jdt.junit.isTest"/>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%EclipseApplicationShortcut.label"
            icon="$nl$/icons/full/etool16/eclipse_launch.gif"
            modes="coverage"
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageLaunchShortcut:org.eclipse.pde.ui.runtimeWorkbenchShortcut"
            id="com.mountainminds.eclemma.ui.workbenchShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <or>
                 <and>
                   <count value="1"/>
                   <iterate>
                     <test property="org.eclipse.debug.ui.projectNature" value="org.eclipse.pde.PluginNature"/>
                     <adapt type="org.eclipse.core.resources.IProject"/>
		           </iterate>
		         </and>
		         <count value="0"/>
		       </or>
             </with>
           </enablement>
         </contextualLaunch>         
      </shortcut>
      <shortcut
            label="%JUnitPluginTestShortcut.label"
            icon="$nl$/icons/full/etool16/junitplugin_launch.gif"
            modes="coverage"
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageLaunchShortcut:org.eclipse.pde.ui.junitWorkbenchShortcut"
            id="com.mountainminds.eclemma.ui.junitPluginShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.java"/>
                   <test property="org.eclipse.debug.ui.matchesPattern" value="*.class"/>
                   <adapt type="org.eclipse.jdt.core.IJavaElement"/>
                 </or>
                 <test property="org.eclipse.pde.core.PluginNature"/>
                 <test property="org.eclipse.jdt.junit.isTest"/>
               </iterate>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>      
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.mountainminds.eclemma.ui.CoverageActionSet"
            label="%CoverageActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="%RunMenu.label"
               path="additions">
            <separator name="relaunchGroup"/>
            <separator name="emptyLaunchGroup"/>
         </menu>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageToolbarAction"
               disabledIcon="$nl$/icons/full/dlcl16/runcoverage.gif"
               hoverIcon="$nl$/icons/full/elcl16/runcoverage.gif"
               icon="$nl$/icons/full/elcl16/runcoverage.gif"
               id="com.mountainminds.eclemma.ui.actions.CoverageDropDownAction"
               label="%CoverageDropDownAction.label"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.OpenCoverageConfigurations"
               definitionId="com.mountainminds.eclemma.ui.commands.OpenCoverageConfiguration"
               id="com.mountainminds.eclemma.ui.actions.OpenCoverageConfiguration"
               label="%OpenCoverageConfigurationsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageAsAction"
               id="com.mountainminds.eclemma.ui.actions.CoverageAsAction"
               label="%CoverageAsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageHistoryAction"
               id="com.mountainminds.eclemma.ui.actions.CoverageHistoryAction"
               label="%CoverageHistoryAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageLastAction"
               definitionId="com.mountainminds.eclemma.ui.commands.CoverageLast"
               disabledIcon="$nl$/icons/full/dlcl16/runcoverage.gif"
               hoverIcon="$nl$/icons/full/elcl16/runcoverage.gif"
               icon="$nl$/icons/full/elcl16/runcoverage.gif"
               id="com.mountainminds.eclemma.ui.actions.CoverageLast"
               label="%CoverageLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageLastCommand.description"
            id="com.mountainminds.eclemma.ui.commands.CoverageLast"
            name="%CoverageLastCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%OpenCoverageConfigurationsCommand.description"
            id="com.mountainminds.eclemma.ui.commands.OpenCoverageConfiguration"
            name="%OpenCoverageConfigurationsCommand.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.pde.ui.PDEPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.jdt.ui.java"
            class="com.mountainminds.eclemma.internal.ui.coverageview.CoverageView"
            icon="$nl$/icons/full/eview16/coverage.gif"
            id="com.mountainminds.eclemma.ui.CoverageView"
            name="%coverageView.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.mountainminds.eclemma.ui.fullCoverageAnnotation"
            colorPreferenceKey="fullcoverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageAnnotation.label"
            overviewRulerPreferenceKey="fullcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="com.mountainminds.eclemma.ui.partialCoverageAnnotation"
            colorPreferenceKey="partialcoverage_color"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverage_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageAnnotation.label"
            overviewRulerPreferenceKey="partialcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="com.mountainminds.eclemma.ui.noCoverageAnnotation"
            colorPreferenceKey="nocoverage_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
            label="%noCoverageAnnotation.label"
            overviewRulerPreferenceKey="nocoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageTabGroup"
            id="com.mountainminds.eclemma.ui.JavaApplicationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
         <launchMode
               description="%localJavaApplicationTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageTabGroup"
            id="com.mountainminds.eclemma.ui.JUnitTabGroup"
            type="org.eclipse.jdt.junit.launchconfig">
         <launchMode
               description="%junitTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageTabGroup:inplaceonly"
            id="com.mountainminds.eclemma.ui.WorkbenchTabGroup"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
         <launchMode
               description="%eclipseAppTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageTabGroup:inplaceonly"
            id="com.mountainminds.eclemma.ui.JUnitPluginTabGroup"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
         <launchMode
               description="%junitPluginTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.CoverageTabGroup"
            id="com.mountainminds.eclemma.ui.TestNGTabGroup"
            type="org.testng.eclipse.launchconfig">
         <launchMode
               description="%testNGTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.InplaceInstrumentationHandler"
            code="2000"
            id="com.mountainminds.eclemma.ui.inplaceInstrumentationHandler"
            plugin="com.mountainminds.eclemma.core"/>
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.AlreadyInstrumentedHandler"
            code="5100"
            id="com.mountainminds.eclemma.ui.alreadyInstrumentedHandler"
            plugin="com.mountainminds.eclemma.core"/>
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.NoCoverageDataHandler"
            code="5101"
            id="com.mountainminds.eclemma.ui.noCoverageDataHandler"
            plugin="com.mountainminds.eclemma.core"/>
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.NoInstrumentedClassesHandler"
            code="5102"
            id="com.mountainminds.eclemma.ui.noInstrumentedClassesHandler"
            plugin="com.mountainminds.eclemma.core"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.mountainminds.eclemma.internal.ui.UIPreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="com.mountainminds.eclemma.internal.ui.wizards.SessionImportWizard"
            icon="$nl$/icons/full/etool16/session_import.gif"
            id="com.mountainminds.eclemma.ui.sessionImportWizard"
            name="%importReport.title">
         <description>%importReport.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="com.mountainminds.eclemma.internal.ui.wizards.SessionExportWizard"
            icon="$nl$/icons/full/etool16/session_export.gif"
            id="com.mountainminds.eclemma.ui.sessionExportWizard"
            name="%exportReport.title">
         <description>%exportReport.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="com.mountainminds.eclemma.ui.externalFileDocumentProvider"
            inputTypes="com.mountainminds.eclemma.internal.ui.wizards.ExternalFileEditorInput"/>
   </extension>
</plugin>
