<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mountainminds.eclemma.core.ICoverageSession"
            class="com.mountainminds.eclemma.internal.ui.WorkbenchAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/full/wizban/coverage_wiz.gif"
            id="com.mountainminds.eclemma.ui.launchGroup.coverage"
            image="icons/full/elcl16/runcoverage.gif"
            label="%CoverageLaunchGroup.label"
            mode="coverage"
            title="%CoverageLaunchGroup.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.mountainminds.eclemma.ui.CoverageActionSet"
            label="%CoverageActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="%RunMenu.label"
               path="additions">
            <separator name="relaunchGroup"/>
            <separator name="emptyLaunchGroup"/>
         </menu>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageToolbarAction"
               disabledIcon="icons/full/dlcl16/runcoverage.gif"
               hoverIcon="icons/full/elcl16/runcoverage.gif"
               icon="icons/full/elcl16/runcoverage.gif"
               id="com.mountainminds.eclemma.ui.CoverageDropDownAction"
               label="%CoverageDropDownAction.label"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.OpenCoverageConfigurations"
               id="com.mountainminds.eclemma.ui.OpenCoverageConfiguration"
               label="%OpenCoverageConfigurations.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               />
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageAsAction"
               id="com.mountainminds.eclemma.ui.CoverageAsAction"
               label="%CoverageAsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageHistoryAction"
               id="com.mountainminds.eclemma.ui.CoverageHistoryAction"
               label="%CoverageHistoryAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageLastAction"
               disabledIcon="icons/full/dlcl16/runcoverage.gif"
               hoverIcon="icons/full/elcl16/runcoverage.gif"
               icon="icons/full/elcl16/runcoverage.gif"
               id="com.mountainminds.eclemma.ui.CoverageLast"
               label="%CoverageLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.pde.ui.PDEPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.jdt.ui.java"
            class="com.mountainminds.eclemma.internal.ui.coverageview.CoverageView"
            icon="icons/full/eview16/coverage.gif"
            id="com.mountainminds.eclemma.ui.CoverageView"
            name="%coverageView.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.mountainminds.eclemma.ui.fullCoverageAnnotation"
            colorPreferenceKey="fullcoverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverage_highlight"
            highlightPreferenceValue="true"
            icon="icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageAnnotation.label"
            overviewRulerPreferenceKey="fullcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="com.mountainminds.eclemma.ui.partialCoverageAnnotation"
            colorPreferenceKey="partialcoverage_color"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverage_highlight"
            highlightPreferenceValue="true"
            icon="icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverage_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageAnnotation.label"
            overviewRulerPreferenceKey="partialcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="com.mountainminds.eclemma.ui.noCoverageAnnotation"
            colorPreferenceKey="nocoverage_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverage_highlight"
            highlightPreferenceValue="true"
            icon="icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
            label="%noCoverageAnnotation.label"
            overviewRulerPreferenceKey="nocoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.JavaApplicationCoverageTabGroup"
            id="com.mountainminds.eclemma.ui.JavaApplicationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
         <launchMode
               description="%localJavaApplicationTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.JUnitCoverageTabGroup"
            id="com.mountainminds.eclemma.ui.JUnitTabGroup"
            type="org.eclipse.jdt.junit.launchconfig">
         <launchMode
               description="%junitTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.WorkbenchCoverageTabGroup"
            id="com.mountainminds.eclemma.ui.WorkbenchTabGroup"
            type="org.eclipse.pde.ui.RuntimeWorkbench"/>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.internal.ui.launching.JUnitPluginCoverageTabGroup"
            id="com.mountainminds.eclemma.ui.JUnitPluginTabGroup"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
         <launchMode
               description="%junitTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.InplaceInstrumentationHandler"
            code="2000"
            id="com.mountainminds.eclemma.ui.inplaceInstrumentationHandler"
            plugin="com.mountainminds.eclemma.core"/>
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.AlreadyInstrumentedHandler"
            code="5100"
            id="com.mountainminds.eclemma.ui.alreadyInstrumentedHandler"
            plugin="com.mountainminds.eclemma.core"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.mountainminds.eclemma.internal.ui.UIPreferences"/>
   </extension>
</plugin>
