<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.mountainminds.eclemma.core.ICoverageSession"
            class="com.mountainminds.eclemma.internal.ui.WorkbenchAdapterFactory">
         <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="$nl$/icons/full/wizban/run_coverage.gif"
            id="com.mountainminds.eclemma.ui.launchGroup.coverage"
            image="$nl$/icons/full/elcl16/runcoverage.gif"
            label="%CoverageLaunchGroup.label"
            mode="coverage"
            title="%CoverageLaunchGroup.title"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.mountainminds.eclemma.internal.ui.actions.ContextualLaunchableTester"
            id="com.mountainminds.eclemma.ui.propertyTester.contextualLaunchable"
            namespace="com.mountainminds.eclemma.ui"
            properties="launchable"
            type="java.lang.Object"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            label="%JavaApplicationShortcut.label"
            icon="$nl$/icons/full/etool16/java_launch.gif"
            modes="coverage"
            class="com.mountainminds.eclemma.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.debug.ui.localJavaShortcut"
            id="com.mountainminds.eclemma.ui.localJavaShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.mountainminds.eclemma.ui.launchable" args="org.eclipse.jdt.debug.ui.localJavaShortcut"/>
             </with>
           </enablement>
  		 </contextualLaunch>
      </shortcut>
      <shortcut
            label="%JUnitTestShortcut.label"
            icon="$nl$/icons/full/etool16/junit_launch.gif"
            class="com.mountainminds.eclemma.ui.launching.CoverageLaunchShortcut:org.eclipse.jdt.junit.junitShortcut"
            modes="coverage"
            id="com.mountainminds.eclemma.ui.junitShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.mountainminds.eclemma.ui.launchable" args="org.eclipse.jdt.junit.junitShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%EclipseApplicationShortcut.label"
            icon="$nl$/icons/full/etool16/eclipse_launch.gif"
            modes="coverage"
            class="com.mountainminds.eclemma.ui.launching.CoverageLaunchShortcut:org.eclipse.pde.ui.runtimeWorkbenchShortcut"
            id="com.mountainminds.eclemma.ui.workbenchShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.mountainminds.eclemma.ui.launchable" args="org.eclipse.pde.ui.runtimeWorkbenchShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>         
      </shortcut>
      <shortcut
            label="%JUnitPluginTestShortcut.label"
            icon="$nl$/icons/full/etool16/junitplugin_launch.gif"
            modes="coverage"
            class="com.mountainminds.eclemma.ui.launching.CoverageLaunchShortcut:org.eclipse.pde.ui.junitWorkbenchShortcut"
            id="com.mountainminds.eclemma.ui.junitPluginShortcut">
         <contextualLaunch>
           <enablement>
             <with variable="selection">
               <test property="com.mountainminds.eclemma.ui.launchable" args="org.eclipse.pde.ui.junitWorkbenchShortcut"/>
             </with>
           </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            label="%JUnitRAPTestShortcut.label "
            icon="$nl$/icons/full/etool16/junitplugin_launch.gif"
            modes="coverage"
            class="com.mountainminds.eclemma.ui.launching.CoverageLaunchShortcut:org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut"
            id="com.mountainminds.eclemma.ui.RAPJUnitLaunchShortcut">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <test property="com.mountainminds.eclemma.ui.launchable" args="org.eclipse.rap.ui.launch.RAPJUnitLaunchShortcut"/>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
      <shortcut
            class="com.mountainminds.eclemma.ui.launching.CoverageLaunchShortcut:org.eclipse.swtbot.eclipse.ui.junitShortcut"
            icon="$nl$/icons/full/etool16/swtbot_launch.gif"
            id="com.mountainminds.eclemma.ui.SWTBotJUnitShortcut"
            label="%SWTBotJUnitShortcut.label"
            modes="coverage">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <test
                        args="org.eclipse.swtbot.eclipse.ui.junitShortcut"
                        property="com.mountainminds.eclemma.ui.launchable">
                  </test>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>      
   </extension>
   
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.mountainminds.eclemma.ui.CoverageActionSet"
            label="%CoverageActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="%RunMenu.label"
               path="additions">
            <separator name="relaunchGroup"/>
            <separator name="emptyLaunchGroup"/>
         </menu>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageToolbarAction"
               disabledIcon="$nl$/icons/full/dlcl16/runcoverage.gif"
               hoverIcon="$nl$/icons/full/elcl16/runcoverage.gif"
               icon="$nl$/icons/full/elcl16/runcoverage.gif"
               id="com.mountainminds.eclemma.ui.actions.CoverageDropDownAction"
               label="%CoverageDropDownAction.label"
               style="pulldown"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.OpenCoverageConfigurations"
               definitionId="com.mountainminds.eclemma.ui.commands.OpenCoverageConfiguration"
               id="com.mountainminds.eclemma.ui.actions.OpenCoverageConfiguration"
               label="%OpenCoverageConfigurationsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageAsAction"
               id="com.mountainminds.eclemma.ui.actions.CoverageAsAction"
               label="%CoverageAsAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageHistoryAction"
               id="com.mountainminds.eclemma.ui.actions.CoverageHistoryAction"
               label="%CoverageHistoryAction.label"
               menubarPath="org.eclipse.ui.run/emptyLaunchGroup"
               style="pulldown"/>
         <action
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageLastAction"
               definitionId="com.mountainminds.eclemma.ui.commands.CoverageLast"
               disabledIcon="$nl$/icons/full/dlcl16/relaunch.gif"
               hoverIcon="$nl$/icons/full/elcl16/relaunch.gif"
               icon="$nl$/icons/full/elcl16/relaunch.gif"
               id="com.mountainminds.eclemma.ui.actions.CoverageLast"
               label="%CoverageLastAction.label"
               menubarPath="org.eclipse.ui.run/relaunchGroup"/>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageLastCommand.description"
            id="com.mountainminds.eclemma.ui.commands.CoverageLast"
            name="%CoverageLastCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%OpenCoverageConfigurationsCommand.description"
            id="com.mountainminds.eclemma.ui.commands.OpenCoverageConfiguration"
            name="%OpenCoverageConfigurationsCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJavaApplicationCommand.description"
            id="com.mountainminds.eclemma.ui.localJavaShortcut.coverage"
            name="%CoverageJavaApplicationCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJUnitTestCommand.description"
            id="com.mountainminds.eclemma.ui.junitShortcut.coverage"
            name="%CoverageJUnitTestCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageEclipseApplicationCommand.description"
            id="com.mountainminds.eclemma.ui.workbenchShortcut.coverage"
            name="%CoverageEclipseApplicationCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJUnitPluginTestCommand.description"
            id="com.mountainminds.eclemma.ui.junitPluginShortcut.coverage"
            name="%CoverageJUnitPluginTestCommand.name"/>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageJUnitRAPTestCommand.description"
            id="com.mountainminds.eclemma.ui.junitRAPShortcut.coverage"
            name="%CoverageJUnitRAPTestCommand.name">
      </command>
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            description="%CoverageSWTBotJUnitCommand.description"
            id="com.mountainminds.eclemma.ui.swtBotJunitShortcut.coverage"
            name="%CoverageSWTBotJUnitCommand.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.mountainminds.eclemma.ui.localJavaShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E J"/>
      <key
            commandId="com.mountainminds.eclemma.ui.junitShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E T"/>
      <key
            commandId="com.mountainminds.eclemma.ui.workbenchShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E E"/>
      <key
            commandId="com.mountainminds.eclemma.ui.junitPluginShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E P"/>
      <key
            commandId="com.mountainminds.eclemma.ui.junitRAPShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E R"/>
      <key
            commandId="com.mountainminds.eclemma.ui.swtBotJunitShortcut.coverage"
            contextId="org.eclipse.ui.globalScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+M2+E S">
      </key>
      <key
            commandId="com.mountainminds.eclemma.ui.commands.CoverageLast"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F11"/>
      <!-- override key binding on Mac OS X -->
      <key
            contextId="org.eclipse.ui.contexts.window"
            platform="carbon"
            sequence="M1+M2+F11"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            contextId="org.eclipse.ui.contexts.window"
            platform="cocoa"
            sequence="M1+M2+F11"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            commandId="com.mountainminds.eclemma.ui.commands.CoverageLast"
            platform="carbon"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M4+F11"/>
      <key
            commandId="com.mountainminds.eclemma.ui.commands.CoverageLast"
            platform="cocoa"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M4+F11"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
         <showInPart id="com.mountainminds.eclemma.ui.CoverageView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
         <showInPart id="com.mountainminds.eclemma.ui.CoverageView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.pde.ui.PDEPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
         <showInPart id="com.mountainminds.eclemma.ui.CoverageView"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.jst.j2ee.J2EEPerspective">
         <actionSet id="com.mountainminds.eclemma.ui.CoverageActionSet"/>
         <showInPart id="com.mountainminds.eclemma.ui.CoverageView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.jdt.ui.java"
            class="com.mountainminds.eclemma.internal.ui.coverageview.CoverageView"
            icon="$nl$/icons/full/eview16/coverage.gif"
            id="com.mountainminds.eclemma.ui.CoverageView"
            name="%coverageView.title"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.mountainminds.eclemma.ui.fullCoverageAnnotation"
            colorPreferenceKey="fullcoverage_color"
            colorPreferenceValue="192,255,192"
            contributesToHeader="false"
            highlightPreferenceKey="fullcoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerfull.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="fullcoverage_isGoToPreviousNavigationTargetKey"
            label="%fullCoverageAnnotation.label"
            overviewRulerPreferenceKey="fullcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="fullcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="fullcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="fullcoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="com.mountainminds.eclemma.ui.partialCoverageAnnotation"
            colorPreferenceKey="partialcoverage_color"
            colorPreferenceValue="255,255,128"
            contributesToHeader="false"
            highlightPreferenceKey="partialcoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerpartial.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="fullcoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="partialcoverage_isGoToPreviousNavigationTargetKey"
            label="%partialCoverageAnnotation.label"
            overviewRulerPreferenceKey="partialcoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="fullcoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="partialcoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="partialcoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="partialcoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
      <specification
            annotationType="com.mountainminds.eclemma.ui.noCoverageAnnotation"
            colorPreferenceKey="nocoverage_color"
            colorPreferenceValue="255,160,160"
            contributesToHeader="false"
            highlightPreferenceKey="nocoverage_highlight"
            highlightPreferenceValue="true"
            icon="$nl$/icons/full/obj16/markerno.gif"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="nocoverage_isGoToNextNavigationTargetKey"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="nocoverage_isGoToPreviousNavigationTargetKey"
            label="%noCoverageAnnotation.label"
            overviewRulerPreferenceKey="nocoverage_overviewRuler"
            overviewRulerPreferenceValue="false"
            presentationLayer="0"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="nocoverage_showInNextPrevDropdownToolbarAction"
            textPreferenceKey="nocoverage_text"
            textPreferenceValue="true"
            textStylePreferenceKey="nocoverage_stylePreferences"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="nocoverage_verticalRuler"
            verticalRulerPreferenceValue="false"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.JavaApplicationTabGroup"
            type="org.eclipse.jdt.launching.localJavaApplication">
         <launchMode
               description="%localJavaApplicationTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.JUnitTabGroup"
            type="org.eclipse.jdt.junit.launchconfig">
         <launchMode
               description="%junitTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup:inplaceonly"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.WorkbenchTabGroup"
            type="org.eclipse.pde.ui.RuntimeWorkbench">
         <launchMode
               description="%eclipseAppTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup:inplaceonly"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.JUnitPluginTabGroup"
            type="org.eclipse.pde.ui.JunitLaunchConfig">
         <launchMode
               description="%junitPluginTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup:inplaceonly"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.EquinoxTabGroup"
            type="org.eclipse.pde.ui.EquinoxLauncher">
         <launchMode
               description="%equinoxTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.TestNGTabGroup"
            type="org.testng.eclipse.launchconfig">
         <launchMode
               description="%testNGTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup:inplaceonly"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.JUnitRAPTabGroup"
            type="org.eclipse.rap.ui.launch.RAPJUnitTestLauncher">
         <launchMode
               description="%testNGTabGroupDescription.coverage"
               mode="coverage"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.mountainminds.eclemma.ui.launching.CoverageTabGroup:inplaceonly"
            helpContextId="com.mountainminds.eclemma.ui.coverage_launch_context"
            id="com.mountainminds.eclemma.ui.SWTBotJUnitTabGroup"
            type="org.eclipse.swtbot.eclipse.ui.launcher.JunitLaunchConfig">
         <launchMode
               description="%swtBotJUnitTabGroupDescription.coverage"
               mode="coverage">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.InplaceInstrumentationHandler"
            code="2000"
            id="com.mountainminds.eclemma.ui.inplaceInstrumentationHandler"
            plugin="com.mountainminds.eclemma.core"/>
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.AlreadyInstrumentedHandler"
            code="5100"
            id="com.mountainminds.eclemma.ui.alreadyInstrumentedHandler"
            plugin="com.mountainminds.eclemma.core"/>
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.NoCoverageDataHandler"
            code="5101"
            id="com.mountainminds.eclemma.ui.noCoverageDataHandler"
            plugin="com.mountainminds.eclemma.core"/>
      <statusHandler
            class="com.mountainminds.eclemma.internal.ui.launching.NoInstrumentedClassesHandler"
            code="5102"
            id="com.mountainminds.eclemma.ui.noInstrumentedClassesHandler"
            plugin="com.mountainminds.eclemma.core"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.mountainminds.eclemma.internal.ui.UIPreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="com.mountainminds.eclemma.internal.ui.wizards.SessionImportWizard"
            icon="$nl$/icons/full/etool16/session_import.gif"
            id="com.mountainminds.eclemma.ui.sessionImportWizard"
            name="%importReport.title">
         <description>%importReport.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="com.mountainminds.eclemma.internal.ui.wizards.SessionExportWizard"
            icon="$nl$/icons/full/etool16/session_export.gif"
            id="com.mountainminds.eclemma.ui.sessionExportWizard"
            name="%exportReport.title">
         <description>%exportReport.description</description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="org.eclipse.ui.editors.text.TextFileDocumentProvider"
            id="com.mountainminds.eclemma.ui.externalFileDocumentProvider"
            inputTypes="com.mountainminds.eclemma.internal.ui.wizards.ExternalFileEditorInput"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.mountainminds.eclemma.internal.ui.dialogs.CoveragePropertyPage"
            id="com.mountainminds.eclemma.ui.coveragePropertyPage"
            name="%coveragePropertyPage.title"
            objectClass="org.eclipse.jdt.core.IJavaElement"/>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            class="com.mountainminds.eclemma.internal.ui.decorators.CoverageDecorator"
            id="com.mountainminds.eclemma.ui.coverageDecorator"
            label="%coverageDecorator.label"
            lightweight="true"
            state="false">
         <description>%coverageDecorator.description</description>
         <enablement>
            <objectClass
                  name="org.eclipse.jdt.core.IJavaElement">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="com.mountainminds.eclemma.internal.ui.dialogs.CoveragePreferencePage"
            id="com.mountainminds.eclemma.ui.preferencePages.CoverageGeneral"
            name="%coveragePreferences.title">
         <keywordReference id="com.mountainminds.eclemma.ui.coveragePreferences"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.mountainminds.eclemma.ui.coveragePreferences"
            label="%keywords.coveragePreferences"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
       <objectContribution
            objectClass="java.lang.Object"
            id="com.mountainminds.eclemma.ui.contextualLaunch.coverage">
         <action
               label="%CoverageContextMenu.label"
               style="pulldown"
               class="com.mountainminds.eclemma.internal.ui.actions.CoverageContextualLaunchAction"
               menubarPath="additions"
               enablesFor="+"
               id="com.mountainminds.eclemma.ui.contextualLaunch.coverage.submenu">
         </action>                  
         <enablement>
            <test property="org.eclipse.debug.ui.launchable" value="coverage"/>
         </enablement>
      </objectContribution>
   </extension>
</plugin>
